<!DOCTYPE html>
<html>
  <head>
    <title>Blog Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="title"><%- title %></h1>
    <div id= "date">Created: <%= created %> | Modified: <%= modified %></div>
    <div id="body"><%- body %></div>
  </body>
</html>
