<!DOCTYPE html>
<html>
  <head>
    <title>multiple_posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <div id="body"><%= body %></div>
  </body>
</html>
